<%- include('partials/dashboards-header') -%>

<div class="container card-container align-items-center">

    <h2><strong style="color: #f03566;">Customer name:</strong> <%= customer.customerName %></h2>
    <p><strong>Customer email</strong>: <%= customer._id %></p>
    <p><strong>Customer phone #</strong>: <%= customer.customerPhone %></p>
    <p><strong>Customer email</strong>: <%= customer.customerEmail %></p>

    <div class="col-6 mt-5">
        <a class="btn btn-primary" href="/post/addNewWo/<%= customer._id%>">Add new WO</a>
      </div>
      
     

</div>