

 <%- include('partials/dashboards-header') -%>

<div class="container card-container">

    <div class="p-3 mb-2 bg-dark text-white">
      <h2><strong>Customers Information</strong></h2>
    </div>

    <div class="card">
      <div class="card-header">
            
                <h3>Number: <%= customers.customerPhone%></h3>
                <h3>Email: <%= customers.customerEmail%></h3>
                <h3>Email: <%= customers._id%></h3>
              
              <div class="col-6 mt-5">
                <a class="btn btn-primary" href="/post/<%= customers._id%>">Update Customer</a>
                <a class="btn btn-primary" href="/post/addNewWo/<%= customers._id%>">Add new WO</a>
              </div>

      </div>
  </div>
</div>

<%- include('partials/footer') -%> 