<%- include('partials/dashboards-header') -%>

<div class="container card-container align-items-center">

    <h2><strong style="color: #f03566;">Customer name:</strong> <%= customers.customerName %></h2>
    <p><strong>Customer phone #</strong>: <%= customers.customerPhone %></p>
    <p><strong>Customer email</strong>: <%= customers.customerEmail %></p>
    <p><strong>WO date created</strong>: <%= customers.date %></p>

    <h3>Number: <%= customers.customerPhone%></h3>
                <h3>Email: <%= customers.customerEmail%></h3>


</div>