<%- include('partials/dashboards-header') -%>

<div class="container card-container">

  <div class="p-3 mb-2 bg-dark text-white">
    <h4><strong style="color: #f03566;">Welcome to your dashboard, </strong></span><%= user.userName %>!</h4>
    <p><strong>You are logged in with:</strong> <%= user.email %></p>
    <p>You have:</p>
    
    <h3 id="displayMessage"></h3>
   <!--
    
    <h2>You have <%= left %> active work orders.</h2>

    <ul>
      <% posts.forEach( el => { %>
              <li class='activeWos' data-id='<%=el.status%>'>
                  <span class='<%= el.status === 'active' %>'><%= el.posts %></span>
                  
              </li>
      <% }) %>    
      </ul>
    -->
    
  </div>

    <div class="p-3 mb-2 bg-transparent text-dark">
      <form action="/post/getPost" method="POST">
        
          <div class="input-group mb-3">
            <input type="text" class="form-control" name="searchInput" id="searchInput" placeholder="Lookup WO by customers phone #: 5195556666"> 
            <div class="input-group-append">
              <button class="btn btn-primary" type="submit">
                <i class="fas fa-search"></i>
              </button>
            </div>

      </form>    
    </div>

  <div class="row">

          <div class="col-lg-12">

            <ul class="list-group">
              <% for(var i=0; i<posts.length; i++) {%>
                <li class="list-group-item justify-content-center mt-5 card">
      
                    <h2><strong>Customer name</strong>: <%= posts[i].name%></h2>
                    <h3><strong>Type of item</strong>: <%= posts[i].secondTitle%></h3>
                    <p><strong style="color: #f03566;">WO status: </strong><span style="color: #008000"><%= posts[i].status%></span></p>
      
                  <div class="col-6 mt-5">
                    <a class="btn btn-primary" href="/post/<%= posts[i]._id%>">Review this WO</a>
                  </div>
                </li>
              <% } %>
              </ul>
      
              </div>
      </div>
      <div class="col-6">
        

       
      </div>  
    </div>
  </div>
</div>

<%- include('partials/footer') -%>