<%- include('partials/dashboards-header') -%>

<div class="container card-container">

    <div class="p-3 mb-2 bg-dark text-white">
      <h2><strong>Here's the Work Order we found</strong></h2>
    </div>

  <div class="card">
    <div class="card-header">

     
    <ul class="list-group">
      <% for(var i=0; i<posts.length; i++) {%>
        <li class="list-group-item justify-content-center mt-5 card">

            <h2>Customer name: <%= posts[i].customerName%></h2>
            <h3>Item type: <%= posts[i].itemType%></h3>
            <p><strong style="color: #f03566;">WO status: </strong><%= posts[i].status%></p>
            <div class="col-6 mt-5">
              <a class="btn btn-primary" href="/post/<%= posts[i]._id%>">Review this WO</a>
            </div>

        </li>

      <% } %>
      </ul>
      </div>
      </div>
  </div>

<%- include('partials/footer') -%>