<%- include('partials/dashboards-header') -%>

  <div class="container card-container">

      <div class="p-3 mb-2 bg-dark text-white">
        <h2><strong>Your Active Work Orders</strong></h2>
      </div>

    <div class="card">
      <div class="card-header">

      <ul class="list-group">
        
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="list-group-item justify-content-center mt-5 card">
  
            <h2><strong>Customer name</strong>: <%= posts[i].name%></h2>
            <h3><strong>Type of item</strong>: <%= posts[i].secondTitle%></h3>
              <div class="col-6 mt-5">
                <a class="btn btn-primary" href="/post/<%= posts[i]._id%>">Review this WO</a>
              </div>

          </li>
        <% } %>
        </ul>
        </div>
        </div>
    </div>

<%- include('partials/footer') -%>